.terms-wrapper h1 {
  font-size: 20px !important;
}
.terms-wrapper h2 {
  font-size: 18px !important;
}
.terms-wrapper h3 {
  font-size: 16px !important;
}
.terms-wrapper h4 {
  margin-top: 14px !important;
}
